<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudease.basis.mapper.CommunityInfoMapper">
    
    <resultMap type="CommunityInfo" id="CommunityInfoResult">
        <result property="id"    column="id"    />
        <result property="communityCode"    column="community_code"    />
        <result property="communityName"    column="community_name"    />
        <result property="communityCoordinate"    column="community_coordinate"    />
        <result property="communityAddress"    column="community_address"    />
        <result property="communityContacts"    column="community_contacts"    />
        <result property="communityPhone"    column="community_phone"    />
        <result property="communityStatus"    column="community_status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectCommunityInfoVo">
        select id, community_code, community_name, community_coordinate, community_address, community_contacts, community_phone, community_status, create_by, create_time, update_by, update_time, remark from community_info
    </sql>

    <select id="selectCommunityInfoList" parameterType="CommunityInfo" resultMap="CommunityInfoResult">
        <include refid="selectCommunityInfoVo"/>
        <where>  
            <if test="communityCode != null  and communityCode != ''"> and community_code = #{communityCode}</if>
            <if test="communityName != null  and communityName != ''"> and community_name like concat('%', #{communityName}, '%')</if>
            <if test="communityCoordinate != null  and communityCoordinate != ''"> and community_coordinate = #{communityCoordinate}</if>
            <if test="communityAddress != null  and communityAddress != ''"> and community_address = #{communityAddress}</if>
            <if test="communityContacts != null  and communityContacts != ''"> and community_contacts = #{communityContacts}</if>
            <if test="communityPhone != null  and communityPhone != ''"> and community_phone = #{communityPhone}</if>
            <if test="communityStatus != null  and communityStatus != ''"> and community_status = #{communityStatus}</if>
        </where>
    </select>
    
    <select id="selectCommunityInfoById" parameterType="Long" resultMap="CommunityInfoResult">
        <include refid="selectCommunityInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCommunityInfo" parameterType="CommunityInfo">
        insert into community_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="communityCode != null">community_code,</if>
            <if test="communityName != null">community_name,</if>
            <if test="communityCoordinate != null">community_coordinate,</if>
            <if test="communityAddress != null">community_address,</if>
            <if test="communityContacts != null">community_contacts,</if>
            <if test="communityPhone != null">community_phone,</if>
            <if test="communityStatus != null">community_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="communityCode != null">#{communityCode},</if>
            <if test="communityName != null">#{communityName},</if>
            <if test="communityCoordinate != null">#{communityCoordinate},</if>
            <if test="communityAddress != null">#{communityAddress},</if>
            <if test="communityContacts != null">#{communityContacts},</if>
            <if test="communityPhone != null">#{communityPhone},</if>
            <if test="communityStatus != null">#{communityStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCommunityInfo" parameterType="CommunityInfo">
        update community_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="communityCode != null">community_code = #{communityCode},</if>
            <if test="communityName != null">community_name = #{communityName},</if>
            <if test="communityCoordinate != null">community_coordinate = #{communityCoordinate},</if>
            <if test="communityAddress != null">community_address = #{communityAddress},</if>
            <if test="communityContacts != null">community_contacts = #{communityContacts},</if>
            <if test="communityPhone != null">community_phone = #{communityPhone},</if>
            <if test="communityStatus != null">community_status = #{communityStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCommunityInfoById" parameterType="Long">
        delete from community_info where id = #{id}
    </delete>

    <delete id="deleteCommunityInfoByIds" parameterType="String">
        delete from community_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>