<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudease.basis.mapper.LandlordInfoMapper">
    
    <resultMap type="LandlordInfo" id="LandlordInfoResult">
        <result property="id"    column="id"    />
        <result property="landlordCode"    column="landlord_code"    />
        <result property="landlordName"    column="landlord_name"    />
        <result property="sex"    column="sex"    />
        <result property="landlordIdcard"    column="landlord_idcard"    />
        <result property="landlordPhone"    column="landlord_phone"    />
        <result property="landlordType"    column="landlord_type"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectLandlordInfoVo">
        select id, landlord_code, landlord_name, sex, landlord_idcard, landlord_phone, landlord_type, status, create_by, create_time, update_by, update_time, remark from landlord_info
    </sql>

    <select id="selectLandlordInfoList" parameterType="LandlordInfo" resultMap="LandlordInfoResult">
        <include refid="selectLandlordInfoVo"/>
        <where>  
            <if test="landlordCode != null  and landlordCode != ''"> and landlord_code = #{landlordCode}</if>
            <if test="landlordName != null  and landlordName != ''"> and landlord_name like concat('%', #{landlordName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="landlordIdcard != null  and landlordIdcard != ''"> and landlord_idcard = #{landlordIdcard}</if>
            <if test="landlordPhone != null  and landlordPhone != ''"> and landlord_phone = #{landlordPhone}</if>
            <if test="landlordType != null  and landlordType != ''"> and landlord_type = #{landlordType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectLandlordInfoById" parameterType="Long" resultMap="LandlordInfoResult">
        <include refid="selectLandlordInfoVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertLandlordInfo" parameterType="LandlordInfo">
        insert into landlord_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="landlordCode != null">landlord_code,</if>
            <if test="landlordName != null">landlord_name,</if>
            <if test="sex != null">sex,</if>
            <if test="landlordIdcard != null">landlord_idcard,</if>
            <if test="landlordPhone != null">landlord_phone,</if>
            <if test="landlordType != null">landlord_type,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="landlordCode != null">#{landlordCode},</if>
            <if test="landlordName != null">#{landlordName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="landlordIdcard != null">#{landlordIdcard},</if>
            <if test="landlordPhone != null">#{landlordPhone},</if>
            <if test="landlordType != null">#{landlordType},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateLandlordInfo" parameterType="LandlordInfo">
        update landlord_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="landlordCode != null">landlord_code = #{landlordCode},</if>
            <if test="landlordName != null">landlord_name = #{landlordName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="landlordIdcard != null">landlord_idcard = #{landlordIdcard},</if>
            <if test="landlordPhone != null">landlord_phone = #{landlordPhone},</if>
            <if test="landlordType != null">landlord_type = #{landlordType},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLandlordInfoById" parameterType="Long">
        delete from landlord_info where id = #{id}
    </delete>

    <delete id="deleteLandlordInfoByIds" parameterType="String">
        delete from landlord_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>